*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  list-style:none;

}
a{
  text-decoration:none;
  color:black
}
.main-container{
    width:1200px;
  margin: auto;
  
}
.container{
  padding-left:15px;
  padding-right:15px;
  width:950px;
  margin:auto
}

li{
  cursor:pointer
}
.address-bar{
  width:100%;
  background:yellowgreen;
  display:flex;
  gap:20px;
  padding:10px;
  text-align:center;
  justify-content:center;
  
}
.main-bar{
  width:100%;
  display:flex;
  background:orangered;
  font-size:16px;
/*   padding:5px; */
  height:30px;
  justify-content:center;  
  align-items:center
}
.main-bar .menu{
  display:flex;
  gap:20px;
  margin-right:50px;
  flex:1
}
.main-bar .menu li{
  position:relative;
  
}

.main-bar .menu li .mini{
  position:absolute;
  display:flex;
  flex-direction:column;
/*   gap:5px; */
/*   visibility:hidden; */
  width:150px;
  background:white;
  box-shadow:2px 2px 5px;
/*   padding:5px; */
  transform:scale(0);
  transition:0.3s ;
  transform-origin:top left;
  
  
}
.main-bar .mini li{
  width:100%;
  padding:5px;
  margin:0px;
  transition:0.5s;
  position:relative;
  padding-left:10px
  
}
.main-bar .mini li:before{
  position:relative;
/*   width:100%;
  height:100%; */
  content:">";
  left:;
  margin-right:2px;
  display:none;
  transition:0.5s;
/*   display:inline-block */
  
}
.main-bar .mini li:not(:last-child):after{
  position:absolute;
  width:100%;
  height:1px;
  background:orangered;
  content:"";
  bottom:0px;
  left:0px
}
.login{
  display:flex;
  gap:20px;
  margin-right:50px;
  height:100%;
  justify-content:center;
  align-items:center;
}
.main-bar .menu li:hover .mini{
  transform:scale(1)
}
.main-bar .mini li:hover{
  background:orangered;
  padding-left:15px;
}
.main-bar .mini li:hover:before{
  display:inline-block;
}
.search{
  display:flex
  align-self:flex-end;
  margin-right:5px;
  cursor:help;
}
.signin ,.signup{
  height:100%;
  align-self:center;
  justify-content:center;
  align-items:center;
  display:flex
}
.signin:hover ,.signup:hover{
  background:yellowgreen
}
.section1 .container{
  display:flex;
  
}
.section1 .right img{
  width:300px;
  position:relative;
}
.section1 .left {
  background:whitesmoke;
  padding:20px
}
.section1 .left h1{
  margin-top:20px;
  margin-bottom:20px;
  letter-spacing:2px;
  font-size:30px;
  text-transform:uppercase;
}
.section1 .left p{
  letter-spacing:2px;
  font-size:16px;
  color:gray;
  text-align:justify;
}
.section2{
  width:1200px;
  margin:20px auto;
  
}
.section2 .cards{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:15px
}
.section2 img{
  max-width:100%
}
.section2 .card{
  display:flex;
  flex-direction:column;
  position:relative;
  overflow:hidden
  
}
.section2 .card .text-content{
  background:whitesmoke;
  padding:5px;
  margin:0px;
  position:absolute;
  top:calc(100% - 80px);
  transition:0.5s;
  height:100%
}
.section2 .card h2{
  text-transform:uppercase;
  letter-spacing:2px;
  margin:5px
}
.section2 .card p{
  letter-spacing:2px;
  color:gray;
  padding:5px
}
.section2 .card:hover .text-content{
  top:0;
}
.section3{
  padding-top:20px;
  background:blue;
}
.section3 .container{
  width:1600px;
  padding:50px
}
.section3 .container .flash-cards{
  display:flex;
  gap:20px;
  position:relative
}
.section3 .card{
  display:flex;
  flex-direction:column;
  position:relative;
  background:brown;
  height:200px
  
}
.section3 .card .front,.section3 .card .back{
  position:absolute;
  background:red;
  width:100px;
  height:100px;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding-top:10px
}
.section3 .card .front{
  z-index:100;
  background:red
}
.section3 .card .back{
  background:yellow
}
.section3 .card:hover .front{
  z-index:-100
}
